// base colors
$white: #ffffff;
$primary:  #FFA927;
$primary-light: #FFC979;
$secondry: #16C1A1;
$danger: #FF4D4D;
$info: #821BF0;

// bg 
$bg: #EBE9FF;
$bg-light: #F4F4FF;

// default text
$text: #848484;
$text-dark: #535353;
$text-light: #ABABAB;


//footer
$footer-bg: #413E70;